body {
    background: #0f011b;
    color: #Fefefe;
}

*{
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
}

.firstrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstrow .entrace{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstrow .entrace input{
    border: 1px solid #Fefefe;
    outline: none;
    border-radius: 20px;
    background: transparent;
    color: #Fefefe;
    flex:1;
    padding: 5px;
}

.firstrow .entrace button{
    cursor: pointer;
    background: #Fefefe;
    border-radius: 20px;
    border: 1px solid #Fefefe;
    padding: 5px;
    outline: none;
    transition: 600ms all ease-in-out;
}


.order-list{
    padding: 10px;
    list-style: none;
    
}

.order-list:first-of-type {
    margin-bottom: 0;
}

.order-list:last-of-type {
    margin-top: 0;
}

.order-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 62px;
    align-content: center;
}


.order-item button{
    cursor: pointer;
    background: transparent;
    color: #Fefefe;
    border-radius: 20px;
    border: 1px solid #Fefefe;
    padding: 5px 10px;
    outline: none;
    transition: 600ms all ease-in-out;
}

.order-item button:hover{
    background: #Fefefe80
}

.order-item input[type="checkbox"] {
    margin: 0 10px;
}

